/* Material Design Color : Blue - Light Blue Theme */
/* Primary Pallete */
/* Accent Pallete */
/* Text Colors */
/* Animation duration */
/* mixin to call specific animation */
body {
  font-family: 'Roboto', sans-serif;
  overflow: hidden; }

ul {
  padding: 0px; }

::-webkit-scrollbar {
  width: 6px; }

::-webkit-scrollbar-track {
  /*background: rgba(0,0,0,0.1); */
  border-radius: 10px;
  /*border:1px gray solid;*/ }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.3);
  /*&:not(:active){
        background: none;
        border:0px solid rgba(0,0,0,0.5);
    }	*/ }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3); }
  ::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5); }

i {
  margin-right: 6px; }

.mdi {
  color: #FFFFFF;
  font-size: 24px;
  vertical-align: middle; }

.mdi.md-mini {
  font-size: 18px; }

.mdi.grey {
  color: #727272; }

/* Text Colors Classes */
.primary-text {
  /* Teal */
  color: #009688; }

.accent-text {
  /* Light Green */
  color: #00C853; }

.white-text {
  /* White */
  color: #fff; }

.main-text {
  /* Dark Text */
  color: #212121; }

.secondary-text {
  /* Grey Text */
  color: #727272; }

/* Text Alignments */
.left-text {
  text-align: left; }

.center-text {
  text-align: center; }

.right-text {
  text-align: right; }

/* Font Weights*/
.weight-300 {
  font-weight: 300; }

.weight-200 {
  font-weight: 200; }

.weight-100 {
  font-weight: 100; }

.main-view {
  /* main ui-router view */
  min-height: 100vh;
  position: relative;
  overflow: auto; }

/* Stretch to full height */
.full-height-min {
  min-height: 100vh; }

/* Max height 100% of viewport*/
.full-height-max {
  max-height: 100vh; }

.full-width-min {
  min-width: 100%; }

/* Toolbar Background */
md-toolbar.white-toolbar {
  background-color: white; }

.navbar-brand {
  padding: 10px; }
  .navbar-brand img {
    max-height: 100%; }

.personiv-logo {
  height: 110px; }

.hidden-custom {
  opacity: 0; }

#main {
  background: url("/assets/img/material-world.png");
  background-size: cover;
  transition: all 1s; }

.main-content {
  background: rgba(33, 33, 33, 0.3); }

/* Background colors */
md-content.dirty-white {
  background: #eeeeee; }

md-content.primary-bg {
  background: #009688; }

.primary-bg {
  background: #009688; }

.blur-white {
  background: rgba(255, 255, 255, 0.1); }

.copyrights {
  min-height: 110px;
  width: 100%;
  text-align: center;
  color: #727272;
  padding: 15px 0px;
  border-top: 1px solid #eee; }

.left-border {
  border-left: 1px solid rgba(0, 0, 0, 0.12); }

.form {
  width: 300px; }

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important; }

.md-button.md-fab.z-index-75 {
  z-index: 75; }

.blue-border-left {
  border-left: 2px solid #009688; }

.progress-dialog {
  background: transparent;
  box-shadow: none; }

.md-datepicker-calendar {
  background: white; }

.md-calendar-day-header {
  background: #009688;
  color: white; }

.datepicker.dropdown-menu {
  width: 250px;
  height: 250px; }
  .datepicker.dropdown-menu button {
    outline: none;
    border: 0px; }
  .datepicker.dropdown-menu tbody {
    height: 180px; }
  .datepicker.dropdown-menu tbody button {
    padding: 6px; }
  .datepicker.dropdown-menu.datepicker-mode-1 tbody button, .datepicker.dropdown-menu.datepicker-mode-2 tbody button {
    height: 65px; }

.timepicker.dropdown-menu {
  padding: 0 4px; }
  .timepicker.dropdown-menu button {
    outline: none;
    border: 0px; }
  .timepicker.dropdown-menu tbody button {
    padding: 6px; }

.pattern {
  position: absolute;
  font-size: 12px;
  color: #F44336;
  line-height: 24px; }

.navbar-inverse > li > a:hover, .navbar-inverse .navbar-nav > li > a:hover {
  color: #00C853; }

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  color: #00C853; }

.btn-accent {
  background-color: #00C853;
  color: white; }
  .btn-accent:hover {
    color: white; }

.round {
  border-radius: 50%; }

.accent-bg {
  background-color: #00C853; }

md-toolbar.md-default-theme:not(.md-menu-toolbar) md-icon, md-toolbar:not(.md-menu-toolbar) md-icon {
  color: white; }

a.md-button.md-default-theme.md-accent.md-raised:not([disabled]) md-icon, a.md-button.md-accent.md-raised:not([disabled]) md-icon, a.md-button.md-default-theme.md-accent.md-fab:not([disabled]) md-icon, a.md-button.md-accent.md-fab:not([disabled]) md-icon, .md-button.md-default-theme.md-accent.md-raised:not([disabled]) md-icon, .md-button.md-accent.md-raised:not([disabled]) md-icon, .md-button.md-default-theme.md-accent.md-fab:not([disabled]) md-icon, .md-button.md-accent.md-fab:not([disabled]) md-icon {
  color: white; }

/* transition duration */
.transition, .fade-transition, .main-view {
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2); }

.fade-transition, #content, #toolbar, #left-sidenav, #right-sidenav {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

/* animations for ng-repeat and ng-if */
.fade-transition.ng-enter {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

.fade-transition.ng-leave {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

/* animations for state transitions */
.main-view.ng-enter #content, .main-view.ng-enter #toolbar, .main-view.ng-enter #left-sidenav, .main-view.ng-enter #right-sidenav {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

.main-view.ng-leave #content, .main-view.ng-leave #toolbar, .main-view.ng-leave #left-sidenav, .main-view.ng-leave #right-sidenav {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

/*# sourceMappingURL=app.css.map */
