/* Material Design Color : Blue - Light Blue Theme */
/* Primary Pallete */
$primary500: #009688;
$primary700: #00796B;
$primary100: #B2DFDB;

/* Accent Pallete */
$accentA700: #00C853;

/* Text Colors */
$text-on-primary: #FFFFFF;
$main-text: #212121;
$secondary-text: #727272;
$red500: #F44336;